<div class="container-fluid mt-3 p-0">
    <mat-card class=" shadow border ">
        <div class="card-title">
            <h4 class="text-center main-bg pt-3 mt-1">- Add User -</h4>
        </div>
        <div class="mx-auto text-center divider mt-2">
            <mat-divider class="w-75 " color="primary"></mat-divider>
        </div>
        <form action="" class="form-group customhover" [formGroup]="addUserForm" (ngSubmit)="addUserFormSubmit()">
            <div class="row d-flex justify-content-around mt-5 ml-5 mr-5 w-75 mx-auto">
                <div class="col-lg-6 col-sm-12 col-md-6">
                    <mat-form-field class="field-full-width" appearance="outline">
                        <mat-label>Name <sup class="text-danger">*</sup></mat-label>
                        <input matInput placeholder="Ex. Shankar" value="" formControlName="userName" />
                        <mat-icon matSuffix color="primary"><i class="fa fa-user" aria-hidden="true"></i></mat-icon>
                    </mat-form-field>
                    <p style="color: red;" *ngIf="addUserForm.get('userName') && addUserForm.get('userName').touched && addUserForm.get('userName').invalid">
                        Please enter this field</p>
                </div>
                <div class="col-lg-6 col-sm-12 col-md-6">
                    <mat-form-field class="field-full-width" appearance="outline">
                        <mat-label>Registration No<sup class="text-danger">*</sup></mat-label>
                        <input matInput placeholder="Ex. VTPL123" value="" formControlName="registrationNo" />
                    </mat-form-field>
                    <p style="color: red;" *ngIf="addUserForm.get('registrationNo') && addUserForm.get('registrationNo').touched && addUserForm.get('registrationNo').invalid">
                        Please enter this field</p>
                </div>
            </div>

            <div class="row d-flex justify-content-around ml-5 mr-5 w-75 mx-auto">
                <div class="col-lg-6 col-md-12 col-sm-12 mx-auto">
                    <mat-form-field class="field-full-width" appearance="outline">
                        <mat-label>Age<sup class="text-danger">*</sup></mat-label>
                        <input matInput placeholder="Ex. 25" value="" formControlName="age" />
                    </mat-form-field>
                    <p style="color: red;" *ngIf="addUserForm.get('age') && addUserForm.get('age').touched && addUserForm.get('age').invalid">
                        Please enter Your Age</p>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 mx-auto">
                    <mat-form-field appearance="outline" class="field-full-width">
                        <mat-label>Gender</mat-label>
                        <mat-select formControlName="gender">
                            <mat-option value="male">Male</mat-option>
                            <mat-option value="female">Female</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <p style="color: red;" *ngIf="addUserForm.get('gender') && addUserForm.get('gender').touched && addUserForm.get('gender').invalid">
                        Please select your gender</p>
                </div>

            </div>

            <div class="row d-flex justify-content-around ml-5 mr-5 w-75 mx-auto">
                <div class="col-lg-6 col-sm-12 col-md-6">
                    <mat-form-field appearance="outline" class="field-full-width">
                        <mat-label>Primary Role</mat-label>
                        <mat-select [formControl]="primaryRole" multiple>
                            <mat-select-trigger>
                                {{primaryRole.value ? primaryRole.value[0] : ''}}
                                <span *ngIf="primaryRole.value?.length > 1" class="example-additional-selection">
                                    (+{{primaryRole.value.length - 1}} {{primaryRole.value?.length === 2 ? 'other' :
                                    'others'}})
                                </span>
                            </mat-select-trigger>
                            <mat-option *ngFor="let role of roleList" [value]="role">{{role}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <p style="color: red;" *ngIf="addUserForm.get('primaryRole') && addUserForm.get('primaryRole').touched && addUserForm.get('primaryRole').invalid">
                        Please enter this field</p>
                </div>
                <div class="col-lg-6 col-sm-12 col-md-6">
                    <mat-form-field class="field-full-width" appearance="outline">
                        <mat-label>Email Id <sup class="text-danger">*</sup></mat-label>
                        <input matInput type="email" placeholder="Ex. example@abcd.com" value="" formControlName="emailId" />
                        <mat-icon matSuffix color="primary">email</mat-icon>
                    </mat-form-field>
                    <p style="color: red;" *ngIf="addUserForm.get('appointmentTime') && addUserForm.get('appointmentTime').touched && addUserForm.get('appointmentTime').invalid">
                        Please enter a valid email id</p>
                </div>
            </div>
            <div class="row d-flex justify-content-around ml-5 mr-5 w-75 mx-auto">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <mat-form-field class="field-full-width" appearance="outline">
                        <mat-label>Telephone <sup class="text-danger">*</sup></mat-label>
                        <span matPrefix>+91 &nbsp;</span>
                        <input type="tel" matInput placeholder="555-555-1234" formControlName="phoneNumber">
                        <mat-icon matSuffix color="primary">phone</mat-icon>
                    </mat-form-field>
                    <p style="color: red;" *ngIf="addUserForm.get('phoneNumber') && addUserForm.get('phoneNumber').touched && addUserForm.get('phoneNumber').invalid">
                        Please enter a valid email id</p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <mat-form-field class="field-full-width" appearance="outline">
                        <mat-label>Address <sup class="text-danger">*</sup></mat-label>
                        <textarea matInput placeholder="Ex. #83, 6th cross opposite to kfc, jalahalli bangalore" formControlName="address"></textarea>
                        <mat-icon matSuffix color="primary">home</mat-icon>
                    </mat-form-field>
                    <p style="color: red;" *ngIf="addUserForm.get('address') && addUserForm.get('address').touched && addUserForm.get('address').invalid">
                        Please enter this field</p>
                </div>
            </div>
            <div class="row d-flex justify-content-around ml-5 mr-5 w-75 mx-auto">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <mat-form-field class="field-full-width" appearance="outline">
                        <mat-label>Aadhar No <sup class="text-danger">*</sup></mat-label>
                        <input matInput placeholder="Ex. 945678921345" value="" formControlName="aadharNo" />
                    </mat-form-field>
                    <p style="color: red;" *ngIf="addUserForm.get('aadharNo') && addUserForm.get('aadharNo').touched && addUserForm.get('aadharNo').invalid">
                        Please enter this field</p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <mat-form-field class="field-full-width" appearance="outline">
                        <mat-label>Pan No <sup class="text-danger">*</sup></mat-label>
                        <input matInput placeholder="Ex. ABCDE1234F" value="" formControlName="panNo" />
                    </mat-form-field>
                    <p style="color: red;" *ngIf="addUserForm.get('panNo') && addUserForm.get('panNo').touched && addUserForm.get('panNo').invalid">
                        Please enter this field</p>
                </div>
            </div>
            <div class="row d-flex justify-content-around mt-4 ml-5 mr-5">
                <div class="col-lg-4 col-md-6 col-sm-12">

                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 d-flex justify-content-around">
                    <button type="submit" mat-raised-button color="primary" [disabled]='addUserForm.invalid'>
                        <mat-icon class="mr-2">save</mat-icon>Submit
                    </button>
                    <button type="reset" mat-raised-button color="accent" (click)='reset()'>
                        <mat-icon class="mr-2">360</mat-icon>Reset
                    </button>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">

                </div>
            </div>
        </form>
    </mat-card>
</div>