<!-- <mat-icon matSuffix style="float: right; cursor: pointer;" color="accent" (click)='close()'>clear</mat-icon> -->
<!-- <h4 mat-dialog-title class="dialog-title">Interview Rounds Detail</h4> -->

<div mat-dialog-content class="addCategory">
    <div class="row">
        <div class="col-lg-2 text-left">
            <p class="logo">LMS</p>
        </div>
        <div class="col-lg-10">
            <h5 class="title-header mr-5">-- Edit Course --</h5>
        </div>
    </div>
    <form class="form-group customhover" [formGroup]="editCourseForm" (ngSubmit)="editCourseFormSubmit()">
        <div class="forms">
            <mat-tab-group mat-stretch-tabs class="matTabGroup-stretched-tabs mat-elevation-z4">
                <mat-tab label="Details">
                    <div class="row d-flex justify-content-around mt-3  mx-auto w-100">
                        <div class="col-lg-6 col-sm-12 col-md-12">
                            <mat-form-field class="field-full-width" appearance="outline">
                                <mat-label>Title</mat-label>
                                <input matInput placeholder="Ex. Full Stack Development" value="" formControlName="title" />
                            </mat-form-field>
                            <p style="color: red;" *ngIf="editCourseForm.get('title') && editCourseForm.get('title').touched && editCourseForm.get('title').invalid">
                                Please enter this field</p>
                        </div>
                        <div class="col-lg-6 col-sm-12 col-md-12">
                            <mat-form-field class="field-full-width" appearance="outline">
                                <mat-label>Category</mat-label>
                                <input matInput placeholder="Ex. Java" value="" formControlName="category" />
                            </mat-form-field>
                            <p style="color: red;" *ngIf="editCourseForm.get('category') && editCourseForm.get('category').touched && editCourseForm.get('category').invalid">
                                Please enter this field</p>
                        </div>
                    </div>

                    <div class="row d-flex justify-content-around mx-auto w-100">
                        <div class="col-lg-6 col-sm-12 col-md-12">
                            <mat-form-field class="field-full-width" appearance="outline">
                                <mat-label>Author</mat-label>
                                <input matInput placeholder="Ex. Prof. Sudhakar" value="" formControlName="author" />
                            </mat-form-field>
                            <p style="color: red;" *ngIf="editCourseForm.get('author') && editCourseForm.get('author').touched && editCourseForm.get('author').invalid">
                                Please enter this field</p>
                        </div>
                        <div class="col-lg-6 col-sm-12 col-md-12">
                            <mat-form-field class="field-full-width" appearance="outline">
                                <mat-label>Cost</mat-label>
                                <input matInput placeholder="Ex. 700" value="" formControlName="cost" />
                                <mat-icon color='primary' matPrefix><i class="fa fa-inr" aria-hidden="true"></i>
                                </mat-icon>
                            </mat-form-field>
                            <p style="color: red;" *ngIf="editCourseForm.get('cost') && editCourseForm.get('cost').touched && editCourseForm.get('cost').invalid">
                                Please enter this field</p>
                        </div>
                    </div>

                    <div class="row  w-100  mx-auto">
                        <div class="col-lg-12 col-sm-12 col-md-12">
                            <mat-form-field class="field-full-width" appearance="outline">
                                <mat-label>Description</mat-label>
                                <textarea matInput placeholder="Ex.Java is a Object oriented programming language" formControlName="description"></textarea>
                            </mat-form-field>
                            <p style="color: red;" *ngIf="editCourseForm.get('description') && editCourseForm.get('description').touched && editCourseForm.get('description').invalid">
                                Please enter this field</p>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-around mx-auto w-100 mb-3 text-center">
                        <div class="col-lg-6 col-sm-12 col-md-12">
                            <button type="button" mat-raised-button color="primary" class="text-center w-75">
                                <mat-icon class="mr-2"><i class="fa fa-file-video-o" aria-hidden="true"></i>
                                </mat-icon>Upload Preview
                            </button>
                        </div>
                        <div class="col-lg-6 col-sm-12 col-md-12">
                            <button type="button" mat-raised-button color="primary" class="text-center w-75">
                                <mat-icon class="mr-2"><i class="fa fa-picture-o" aria-hidden="true"></i></mat-icon>
                                Upload Image
                            </button>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Preview Media"> Content 2 </mat-tab>
                <mat-tab label="Course Image"> Content 3 </mat-tab>
                <mat-tab label="What You Will Learn">
                    <div class="row  w-100 mt-4 mx-auto">
                        <div class="col-lg-12 col-sm-12 col-md-12">
                            <mat-form-field class="field-full-width" appearance="outline">
                                <mat-label>What You Will Learn</mat-label>
                                <textarea matInput placeholder="Ex.what you will learn" class="desc-textarea" formControlName="whatYouLearn"></textarea>
                            </mat-form-field>
                            <p style="color: red;" *ngIf="editCourseForm.get('whatYouLearn') && editCourseForm.get('whatYouLearn').touched && editCourseForm.get('whatYouLearn').invalid">
                                Please enter this field</p>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Who Should Take This Course">
                    <div class="row  w-100 mt-4 mx-auto">
                        <div class="col-lg-12 col-sm-12 col-md-12">
                            <mat-form-field class="field-full-width" appearance="outline">
                                <mat-label>Who Should Take This Course</mat-label>
                                <textarea matInput placeholder="Ex.who should take this course" class="desc-textarea" formControlName="whoShouldTakeCourse"></textarea>
                            </mat-form-field>
                            <p style="color: red;" *ngIf="editCourseForm.get('whoShouldTakeCourse') && editCourseForm.get('whoShouldTakeCourse').touched && editCourseForm.get('whoShouldTakeCourse').invalid">
                                Please enter this field</p>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
        <div class="row d-flex justify-content-around mt-4 ml-5 mr-5">
            <div class="col-lg-6 col-md-12 col-sm-12 d-flex justify-content-around mb-2">
                <button type="submit" mat-raised-button color="primary" [disabled]='editCourseForm.invalid'>
                    <!-- <mat-icon class="mr-2">save</mat-icon> -->
                    Ok
                </button>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 d-flex justify-content-around">
                <button type="button" mat-raised-button color="accent" (click)='close()'>
                    <!-- <mat-icon class="mr-2">360</mat-icon> -->
                    Cancel
                </button>
            </div>
        </div>
    </form>
</div>