<!-- 
File Name :-userhome.component.html	   	Created Date :-23-12-2020     Created By :- Faiser I (Emp. Id : VTPL/BLR/006)
	
Description :- this component is used to route list and add users					
	
============================================================================================================================
  Sl.No			    Description			                                Modified By		              	      Modified Date	
============================================================================================================================
	
	
 -->

<router-outlet></router-outlet>