<!-- 
File Name :-uploadquestionpaper.component.html	   	Created Date :-28-12-2020     Created By :- Faiser I (Emp. Id : VTPL/BLR/006)
	
Description :- this component is used to Manage Session					
	
============================================================================================================================
  Sl.No			    Description			                                Modified By		              	      Modified Date	
============================================================================================================================
	
 -->

<br />
<h4 class="title-header">- Question Bank List -</h4>
<div class="text-right">

</div>

<div class="row">
    <div class="col text-left">
        <mat-form-field class="matFormField" appearance="outline">
            <input matInput (keyup)="applyFilter($event)" placeholder="Search here..." />
            <mat-icon color="primary" matSuffix>search</mat-icon>
        </mat-form-field>
    </div>
    <div class="col text-right">
        <!-- <p class="pt-4"> <span class="text-primary">Course</span> >>{{courseName}} </p> -->
        <button (click)="openAddQuestionBankDialog()" class="addButton btn" mat-raised-button color="primary">New Question Bank</button>
    </div>
</div>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
        <!-- ID Column -->
        <!-- <ng-container matColumnDef="slNo">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="table_header">Sl.no</th>
              <td mat-cell *matCellDef="let row">
                  {{dataSource.filteredData.indexOf(row) + 1}}.</td>
          </ng-container> -->

        <!-- category Column -->
        <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="table_header">
                Category
            </th>
            <td mat-cell *matCellDef="let row">
                {{ row.category }}</td>
        </ng-container>

        <!-- course Column -->
        <ng-container matColumnDef="course">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="table_header">
                Course
            </th>
            <td mat-cell *matCellDef="let row">
                {{ row.course }}</td>
        </ng-container>

        <!-- questionBankName Column -->
        <ng-container matColumnDef="questionBankName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="table_header">
                Question Bank Name
            </th>
            <td mat-cell *matCellDef="let row">
                {{ row.questionBankName }}</td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef class="table_header">Action</th>
            <td mat-cell *matCellDef="let row">
                <div class="action-btn">
                    <a (click)="openEditQuestionBankDialog()" class="action-link">
                        <mat-icon class="edit-btn" title="Edit">edit</mat-icon>
                    </a>
                </div>
                <span style="color: #3f51b5;">|</span>
                <div class="action-btn">
                    <a (click)="routeToDeleteUser()" class="action-link">
                        <mat-icon class="delete-btn" title="Delete">delete_forever</mat-icon>
                    </a>
                </div>
                <span style="color: #3f51b5;">|</span>
                <div class="action-btn">
                    <a class="action-link">
                        <mat-icon class="delete-btn" title="Preliminary Check">description</mat-icon>
                    </a>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr class="row-style" mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
<br />

<div class="text-right">
    <a (click)="openEditQuestionBankDialog()" class="action-link">
        <mat-icon class="edit-btn" title="Edit">edit</mat-icon>
    </a>
</div>