<!-- 
File Name :-managemedia.component.html	   	Created Date :-23-12-2020     Created By :- Faiser I (Emp. Id : VTPL/BLR/006)
	
Description :- this component is used to manage media					
	
============================================================================================================================
  Sl.No			    Description			                                Modified By		              	      Modified Date	
============================================================================================================================
	
	
 -->

<br />
<h4 class="title-header">- Manage Evaluation -</h4>
<!-- <div class="text-center">
    <mat-form-field>
        <input matInput (keyup)="applyFilter($event)" placeholder="Search here..." />
    </mat-form-field>
</div> -->
<div class="row d-flex justify-content-around  w-100 mx-auto mt-5">
    <div class="col-lg-8 col-md-12 col-sm-12">
        <div class="row d-flex justify-content-around ml-5 mr-5 w-100 mx-auto">
            <div class="col-lg-8 col-md-12 col-sm-12 text-center ">
                <mat-form-field appearance="outline" class="field-full-width">
                    <input matInput (keyup)="applyFilter($event)" placeholder="Search here..." />
                    <mat-icon color="primary" matSuffix>search</mat-icon>
                </mat-form-field>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 mx-auto">
                <mat-form-field appearance="outline" class="field-full-width">
                    <mat-label>Filter</mat-label>
                    <mat-select>
                        <mat-option value="all">ALL</mat-option>
                        <mat-option value="pending">PENDING</mat-option>
                        <mat-option value="submitted">SUBMITTED</mat-option>
                        <mat-option value="evaluated">EVALUATED</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

        </div>

        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort>
                <!-- ID Column -->
                <!-- <ng-container matColumnDef="slNo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="table_header">Sl.no</th>
                    <td mat-cell *matCellDef="let row">
                        {{dataSource.filteredData.indexOf(row) + 1}}.</td>
                </ng-container> -->

                <!-- type Column -->
                <ng-container matColumnDef="type">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="table_header">
                        Type
                    </th>
                    <td mat-cell *matCellDef="let row">
                        {{ row.type }}</td>
                </ng-container>

                <!-- courseName Column -->
                <ng-container matColumnDef="courseName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="table_header">
                        Course Name
                    </th>
                    <td mat-cell *matCellDef="let row">
                        {{ row.courseName }}</td>
                </ng-container>

                <!-- size Column -->
                <ng-container matColumnDef="size">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="table_header">
                        Size
                    </th>
                    <td mat-cell *matCellDef="let row">
                        {{ row.size }}</td>
                </ng-container>

                <!-- mediaType Column -->
                <ng-container matColumnDef="mediaType">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="table_header">
                        Media Type
                    </th>
                    <td mat-cell *matCellDef="let row">
                        {{ row.mediaType }}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr class="row-style" mat-row *matRowDef="let row; columns: displayedColumns"></tr>

            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 mx-auto">
        <iframe width="100%" height="100%" frameBorder="0" [src]="urlSafe" allowfullscreen></iframe>
    </div>
</div>
<br />